.book-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}

.title {
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
}

.book-details {
  display: flex;
  width: 100%;
}

.detail-category {
  width: 60%;
  font-weight: bold;
}

.mb-20 {
  margin-bottom: 20px;
}

.error {
  color: red;
}